.burger {
  position: absolute;
  top: 60px;
  right: 5%;

  display: block;
  width: 55px;
  height: 30px;
  padding: 0;

  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid var(--colorBlack2);
  background-color: transparent;

  &::before,
  &::after {
    position: absolute;

    content: '';
    display: block;
    height: 2px;

    background-color: var(--colorBlack2);
  }

  &::before {
    top: 0;

    width: 100%;
  }

  &::after {
    top: 50%;
    right: 0;

    width: 50%;
  }

  @media (min-width: @tabletWidth) {
    display: none;
  }
}
