.contacts-list__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-bottom: @spaceM;

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts-list__text {
  .fontSpecial();
}

.contacts-list__link {
  .fontLight();

  transition: font-weight 0.2s, color 0.2s;

  &:hover {
    font-weight: @fontWeight5;
    text-decoration: underline;
  }

  &:active {
    .colorGrey3();
  }
}

// hack for ie
_:-ms-fullscreen, :root .contacts-list__link  {
  transition: none;
}
// hack for ie end
