.contacts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  font-family: 'Roboto-Mono', 'Arial', sans-serif;
  font-weight: var(--weightFont3);
}

.contacts__link {
  position: relative;

  margin-bottom: 40px;
  padding-right: 60px;
}

.contacts__icon {
  position: absolute;
  top: 50%;
  right: 0;

  width: 40px;
  height: 40px;

  transform: translateY(-50%);

  fill: var(--colorWhite);
}
