.copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.copyright__date {
  margin-bottom: 11px;

  font-family: 'Roboto-Mono', 'Arial', sans-serif;
  .fontTextSmallMobile();
  font-weight: 300;
  font-weight: var(--weightFont3, 300);

  @media (min-width: @tabletWidth) {
    margin-bottom: 24px;

    .fontTextSmallTablet();
  }

  @media (min-width: @desktopWidth) {
    margin-bottom: 32px;

    .fontTextSmallDesktop();
  }
}

.copyright__link {
  text-transform: lowercase;

  transition: font-weight 0.2s, color 0.2s;

  &:hover {
    font-weight: 500;
    font-weight: var(--weightFont5, 500);
    color: #6d6c70;
    color: var(--colorGrey2, #6d6c70);
  }

  &:active {
    color: #3c3b3d;
    color: var(--colorGrey, #3c3b3d);
  }
}

.copyright__licenses-link {
  position: relative;

  display: block;

  width: 20px;
  height: 20px;

  border-radius: 50%;
  .customShadowDefault();

  transition: box-shadow 0.2s, fill 0.2s, transform 0.2s;

  overflow: hidden;

  &:hover {
    .customShadowHover();

    .transformHover();
  }

  &:active {
    .customShadowActive();

    .transformActive();
  }

  &:hover .copyright__licenses-icon {
    fill: #6d6c70;
    fill: var(--colorGrey2, #6d6c70);
  }

  &:active .copyright__licenses-icon {
    fill: #3c3b3d;
    fill: var(--colorGrey, #3c3b3d);
  }

  @media (min-width: @tabletWidth) {
    width: 26px;
    height: 26px;
  }
}

.copyright__licenses-icon {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 20px;
  height: 20px;

  border-radius: 50%;
  fill: #1e1e1f;
  fill: var(--colorBlack2, #1e1e1f);
  opacity: 0.7;

  transform: translate(-50%, -50%);

  @media (min-width: @tabletWidth) {
    width: 26px;
    height: 26px;
  }
}
