.copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.copyright__date {
  margin-bottom: 11px;

  font-family: 'Roboto-Mono', 'Arial', sans-serif;
  .fontTextSmallMobile();
  font-weight: var(--weightFont3);

  @media (min-width: @tabletWidth) {
    margin-bottom: 24px;

    .fontTextSmallTablet();
  }

  @media (min-width: @desktopWidth) {
    margin-bottom: 32px;

    .fontTextSmallDesktop();
  }
}

.copyright__link {
  text-transform: lowercase;

  transition: font-weight 0.2s, color 0.2s;

  &:hover {
    font-weight: var(--weightFont5);
    color: var(--colorGrey2);
  }

  &:active {
    color: var(--colorGrey);
  }
}

.copyright__licenses-link {
  display: block;
}

.copyright__licenses-icon {
  display: block;

  filter: opacity(0.5);
}
