.copyright {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.copyright__logo-icon {
  fill: var(--colorWhite);
}

.copyright__date {
  font-family: 'Roboto-Mono', 'Arial', sans-serif;
  font-size: var(--sizeFont2);
  font-weight: var(--weightFont3);
}
