.footer {
  flex-grow: 1;

  padding-top: @space2XL;
  padding-bottom: @space2XL;

  .colorWhite2();
  .backgroundColorBlack2();
}

.footer-logo {
  &:hover {
    .colorGrey2();
  }

  &:active {
    .colorGrey();
  }

  &:hover .footer__logo-icon {
    fill: #6d6c70;
    fill: var(--colorGrey2, #6d6c70);
  }

  &:active .footer__logo-icon {
    fill: #3c3b3d;
    fill: var(--colorGrey, #3c3b3d);
  }
}

.footer__logo-icon {
  fill: #cbc9cf;
  fill: var(--colorWhite2, #cbc9cf);
}
