.footer {
  padding-top: 28px;
  padding-bottom: 36px;

  color: var(--colorWhite2);

  background-color: var(--colorBlack2);

  @media (min-width: @tabletWidth) {
    padding-top: 44px;
    padding-bottom: 54px;
  }

  @media (min-width: @desktopWidth) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.footer__section {
  .container(@mobileContainer);
  margin-bottom: 75px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: @tabletWidth) {
    .container(@tabletContainer);
    margin-bottom: 104px;
  }

  @media (min-width: @desktopWidth) {
    .container(@desktopContainer);
  }
}

.footer-logo {
  &:hover {
    color: var(--colorGrey2);
  }

  &:active {
    color: var(--colorGrey);
  }

  &:hover .footer__logo-icon {
    fill: var(--colorGrey2);
  }

  &:active .footer__logo-icon {
    fill: var(--colorGrey);
  }
}

.footer__logo-icon {
  fill: var(--colorWhite2);
}
