.header {
  position: relative;

  padding-top: 40px;
}

.header__wrapper-logo {
  margin-bottom: 40px;
  padding-left: @mobilePadding;
  padding-right: @mobilePadding;
}

.header__caption {
  margin-top: 0;
  margin-bottom: 0;

  font-size: var(--sizeFont4);
  line-height: var(--lineHeightFont);
  font-weight: var(--weightFont3);
  font-variation-settings: var(--wghtFont3);
}

.header__image {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 40px;

  line-height: 0;
}
