.header {
  position: relative;

  padding-top: 40px;

  @media (min-width: @desktopWidth) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .container(@tabletContainer);
  }
}

.header__wrapper-logo {
  .container(@mobileContainer);
  margin-bottom: 40px;

  @media (min-width: @tabletWidth) {
    .container(@tabletContainer);
  }

  @media (min-width: @desktopWidth) {
    width: 40%;
    margin-left: 0;
    margin-right: 0;
  }
}

.header__image {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 40px;

  @media (min-width: @desktopWidth) {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.header__text {
  .container(@mobileContainer);
  margin-bottom: 0;

  @media (min-width: @tabletWidth) {
    .container(@tabletContainer);
  }

  @media (min-width: @desktopWidth) {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
