.links-list {
  @media (min-width: @tabletWidth) {
    // for ie
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // for ie end

    display: grid;
    grid-template-columns: repeat(2, 45%);
    justify-content: space-between;
  }

  @media (min-width: @desktopWidth) {
    grid-template-columns: repeat(3, 30%);
  }
}

.links-list__item {
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: @tabletWidth) {
    margin-bottom: 0;
  }
}

// hack for ie
_:-ms-fullscreen, :root .links-list__item {
  @media (min-width: @tabletWidth) {
    width: 45%;
  }
  @media (min-width: @desktopWidth) {
    width: 30%;
  }
}
// hack for ie end

.links-list__link {
  position: relative;

  display: block;

  padding-right: 48px;

  font-family: 'Roboto-Mono', 'Arial', sans-serif;
  font-weight: 300;
  font-weight: var(--weightFont3, 300);
  text-overflow: ellipsis;
  white-space: nowrap;

  overflow: hidden;

  transition: font-weight 0.2s, color 0.2s;

  &:hover {
    font-weight: 500;
    font-weight: var(--weightFont5, 500);
    text-decoration: underline;
  }

  &:hover .links-list__link-icon {
    .customShadowHover();
    fill: #1e1e1f;
    fill: var(--colorBlack2, #1e1e1f);
    transform: translate(50%, -50% - 4px);

    @media (min-width: @tabletWidth) {
      transform: translate(-50%, -50% - 4px);
    }
  }

  &:active {
    color: #a2a1a6;
    color: var(--colorGrey3, #a2a1a6);
  }

  &:active .links-list__link-icon {
    .customShadowActive();
    fill: #a2a1a6;
    fill: var(--colorGrey3, #a2a1a6);

    transform: translate(50%, -50%);

    @media (min-width: @tabletWidth) {
      transform: translate(-50%, -50%);
    }
  }

  @media (min-width: @tabletWidth) {
    padding-right: 40px;
  }
}

// hack for ie
_:-ms-fullscreen, :root .links-list__link {
  transition: none;
}
// hack for ie end

.links-list__link-icon {
  position: absolute;
  top: 50%;
  right: 24px;

  width: 16px;
  height: 16px;

  border-radius: 50%;
  fill: #6d6c70;
  fill: var(--colorGrey2, #6d6c70);
  .customShadowDefault();

  transform: translate(50%, -50%);
  transition: transform 0.2s, box-shadow 0.2s, fill 0.2s;

  @media (min-width: @tabletWidth) {
    right: 0px;

    width: 20px;
    height: 20px;

    transform: translate(-50%, -50%);
  }
}
