.links-list {
  display: grid;
  grid-template-columns: repeat(1, 100%);
  row-gap: 10px;

  @media (min-width: @tabletWidth) {
    grid-template-columns: repeat(2, 45%);
    row-gap: 0;
    justify-content: space-between;
  }

  @media (min-width: @desktopWidth) {
    grid-template-columns: repeat(3, 30%);
  }
}

.links-list__link {
  position: relative;

  display: block;

  padding-right: 48px;

  font-family: 'Roboto-Mono', 'Arial', sans-serif;
  font-weight: 300;
  font-weight: var(--weightFont3, 300);
  text-overflow: ellipsis;
  white-space: nowrap;

  overflow: hidden;

  transition: font-weight 0.2s, color 0.2s;

  &:hover {
    font-weight: 500;
    font-weight: var(--weightFont5, 500);
    text-decoration: underline;
  }

  &:hover .links-list__link-icon {
    .customShadowHover();
    fill: #1e1e1f;
    fill: var(--colorBlack2, #1e1e1f);
    transform: translate(50%, -50% - 4px);

    @media (min-width: @tabletWidth) {
      transform: translate(-50%, -50% - 4px);
    }
  }

  &:active {
    color: #a2a1a6;
    color: var(--colorGrey3, #a2a1a6);
  }

  &:active .links-list__link-icon {
    .customShadowActive();
    fill: #a2a1a6;
    fill: var(--colorGrey3, #a2a1a6);

    transform: translate(50%, -50%);

    @media (min-width: @tabletWidth) {
      transform: translate(-50%, -50%);
    }
  }

  @media (min-width: @tabletWidth) {
    padding-right: 40px;
  }
}

.links-list__link-icon {
  position: absolute;
  top: 50%;
  right: 24px;

  width: 16px;
  height: 16px;

  border-radius: 50%;
  fill: #6d6c70;
  fill: var(--colorGrey2, #6d6c70);
  .customShadowDefault();

  transform: translate(50%, -50%);
  transition: transform 0.2s, box-shadow 0.2s, fill 0.2s;

  @media (min-width: @tabletWidth) {
    right: 0px;

    width: 20px;
    height: 20px;

    transform: translate(-50%, -50%);
  }
}
