.logo {
  font-family: 'Special-Elite', 'Arial', sans-serif;
  font-size: var(--sizeFont7);
  line-height: var(--lineHeightFont);
  font-weight: 400;

  @media (min-width: @tabletWidth) {
    font-size: var(--sizeFont8);
  }

  @media (min-width: @desktopWidth) {
    font-size: var(--sizeFont9);
  }
}
