.logo {
  position: relative;

  display: inline-block;

  width: 48px;
  height: 48px;

  border-radius: 50%;
  .customShadowDefault();

  transition: box-shadow 0.2s, fill 0.2s, transform 0.2s;

  &:hover {
    .customShadowHover();

    .transformHover();
  }

  &:active {
    .customShadowActive();

    .transformActive();
  }

  &:hover .logo__icon {
    fill: var(--colorGrey2);
  }

  &:active .logo__icon {
    fill: var(--colorGrey3);
  }
}

.logo__icon {
  position: absolute;
  top: 50%;
  left: 50%;

  display: block;


  width: 48px;
  height: 48px;
  margin-right: 10px;

  border-radius: 50%;
  fill: var(--colorBlack2);

  transform: translate(-50%, -50%);
  transition: fill 0.2s;

  @media (min-width: @tabletWidth) {
    bottom: 13px;

    width: 70px;
    height: 89px;
  }
}
