.logo {
  position: relative;

  display: inline-block;

  font-family: 'Special-Elite', 'Arial', sans-serif;
  .fontTitleMobile();
  line-height: 1em;
  font-weight: 400;

  transition: color 0.2s;

  &:hover {
    color: var(--colorGrey2);
  }

  &:hover .logo__icon {
    fill: var(--colorGrey2);
  }

  &:active {
    color: var(--colorGrey3);
  }

  &:active .logo__icon {
    fill: var(--colorGrey3);
  }

  @media (min-width: @tabletWidth) {
    .fontTitleTablet();
    line-height: 1em;
  }

  @media (min-width: @desktopWidth) {
    .fontTitleDesktop();
    line-height: 1em;
  }
}

.logo__icon {
  width: 40px;
  height: 51px;
  margin-right: 10px;

  fill: var(--colorBlack2);

  transition: fill 0.2s;

  @media (min-width: @tabletWidth) {
    bottom: 13px;

    width: 70px;
    height: 89px;
  }
}
