.main {
  .container(@mobileContainer);
  margin-bottom: 80px;

  @media (min-width: @tabletWidth) {
    .container(@tabletContainer);
  }

  @media (min-width: @desktopWidth) {
    .container(@desktopContainer);
  }
}

.main__section {
  margin-bottom: 80px;

  &:last-child {
    margin-bottom: 0;
  }
}

.main__link {
  display: block;

  margin-top: 0;

  font-family: 'Roboto-Mono', 'Arial', sans-serif;
  font-size: var(--sizeFont2);
  line-height: var(--lineHeightFont);
  font-weight: var(--weightFont3);
  text-transform: lowercase;
  text-decoration: none;
}
