.main {
  .container(@mobileContainer);
  padding-top: 34px;
  padding-bottom: 35px;

  @media (min-width: @tabletWidth) {
    .container(@tabletContainer);
    padding-top: 52px;
    padding-bottom: 54px;
  }

  @media (min-width: @desktopWidth) {
    .container(@desktopContainer);
    padding-top: 70px;
    padding-bottom: 72px;
  }
}

.main__section {
  margin-bottom: 29px;

  &:last-of-type {
    margin-bottom: 35px;

    @media (min-width: @tabletWidth) {
      margin-bottom: 54px;
    }

    @media (min-width: @desktopWidth) {
      margin-bottom: 72px;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: @tabletWidth) {
    margin-bottom: 46px;
  }

  @media (min-width: @desktopWidth) {
    margin-bottom: 62px;
  }
}

.main__section-works,
.main__section-skills {
  margin-bottom: 34px;

  @media (min-width: @tabletWidth) {
    margin-bottom: 52px;
  }

  @media (min-width: @desktopWidth) {
    margin-bottom: 70px;
  }
}

.main__caption {
  position: relative;

  margin-top: 0;
  margin-bottom: 9px;
  padding-left: 38px;

  font-family: 'Roboto-Mono', 'Arial', sans-serif;
  .fontH3Mobile();
  font-weight: 500;
  font-weight: var(--weightFont5, 500);
  text-transform: uppercase;

  &:last-child {
    margin-bottom: 0;
  }

  &::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;

    display: block;
    width: 26px;
    height: 2px;

    transform: translateY(-50%);

    background-color: #1e1e1f;
    background-color: var(--colorBlack2, #1e1e1f);
  }

  @media (min-width: @tabletWidth) {
    margin-bottom: 16px;

    .fontH3Tablet();
  }

  @media (min-width: @desktopWidth) {
    margin-bottom: 22px;

    .fontH3Desktop();
  }
}

.main__caption-works,
.main__caption-skills, {
  margin-bottom: 14px;

  @media (min-width: @tabletWidth) {
    margin-bottom: 22px;
  }

  @media (min-width: @desktopWidth) {
    margin-bottom: 30px;
  }
}

.main__text {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: @tabletWidth) {
    margin-bottom: 18px;
  }

  @media (min-width: @desktopWidth) {
    margin-bottom: 24px;
  }
}

.main__link {
  position: relative;

  display: block;

  margin-top: 0;
  padding-right: 48px;

  font-family: 'Roboto-Mono', 'Arial', sans-serif;
  font-weight: 300;
  font-weight: var(--weightFont3, 300);
  text-transform: lowercase;

  transition: font-weight 0.2s;

  &:hover {
    font-weight: 500;
    font-weight: var(--weightFont5, 500);
  }

  &:active {
    color: #a2a1a6;
    color: var(--colorGrey3, #a2a1a6);
  }

  &:hover .main__link-icon {
    transform: translate(50%, -50% - 4px);

    .customShadowHover();

    @media (min-width: @tabletWidth) {
      transform: translate(0, -50% - 4px);
    }
  }

  &:active .main__link-icon {
    transform: translate(50%, -50%);

    .customShadowActive();
    fill: #3c3b3d;
    fill: var(--colorGrey, #3c3b3d);

    @media (min-width: @tabletWidth) {
      transform: translate(0, -50%);
    }
  }

  @media (min-width: @tabletWidth) {
    padding-right: 52px;
  }
}


.main__link-icon {
  position: absolute;
  top: 50%;
  right: 24px;

  width: 20px;
  height: 20px;

  border-radius: 50%;
  .customShadowDefault();
  fill: #1e1e1f;
  fill: var(--colorBlack2, #1e1e1f);

  transform: translate(50%, -50%);
  transition: box-shadow 0.2s, fill 0.2s, transform 0.2s;

  @media (min-width: @tabletWidth) {
    right: 0;

    width: 26px;
    height: 26px;

    transform: translate(0, -50%);
  }
}
