.main {
  .container(@container);
  padding-top: @space2XL;
  padding-bottom: @space2XL;
}

.main__section {
  margin-bottom: @space2XL;

  &:last-child {
    margin-bottom: 0;
  }
}

.main__caption {
  margin-top: 0;
  margin-bottom: @spaceM;

  .fontH2();

  &:last-child {
    margin-bottom: 0;
  }
}

.main__caption-special {
  .fontSpecial();
  text-transform: none;
}

h3.main__caption {
  .fontH3();
}

.main__caption-dash {
  position: relative;
  display: inline-block;

  padding-left: @spaceXL;

  &::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;

    display: block;
    width: 1.25rem;
    height: 2px;

    transform: translateY(-50%);

    .backgroundColorBlack2();
  }
}

.main__text {
  margin-bottom: @spaceM;

  &:last-child {
    margin-bottom: 0;
  }
}

.main__link {
  position: relative;

  display: block;

  margin-top: 0;
  padding-right: @burgerSize;

  .fontLight();
  text-transform: lowercase;

  transition: font-weight 0.2s;

  &:hover {
    font-weight: @fontWeight5;
  }

  &:active {
    .colorGrey();
  }

  &:hover .main__link-icon {
    transform: translate(50%, -50% - 4px);

    .customShadowHover();

    @media (min-width: @tabletWidth) {
      transform: translate(0, -50% - 4px);
    }
  }

  &:active .main__link-icon {
    transform: translate(50%, -50%);

    .customShadowActive();
    fill: #3c3b3d;
    fill: var(--colorGrey, #3c3b3d);

    @media (min-width: @tabletWidth) {
      transform: translate(0, -50%);
    }
  }

  @media (min-width: @tabletWidth) {
    padding-right: 52px;
  }
}


.main__link-icon {
  position: absolute;
  top: 50%;
  right: (@burgerSize * 0.5);

  .mainLinkIconSize();

  border-radius: 50%;
  .customShadowDefault();
  fill: #1e1e1f;
  fill: var(--colorBlack2, #1e1e1f);

  transform: translate(50%, -50%);
  transition: box-shadow 0.2s, fill 0.2s, transform 0.2s;

  @media (min-width: @tabletWidth) {
    right: 0;
    transform: translate(0, -50%);
  }
}
