.nav {
  .container(@mobileContainer);
  margin-bottom: 20px;

  @media (min-width: @tabletWidth) {
    .container(@tabletContainer);
    margin-bottom: 30px;
  }

  @media (min-width: @desktopWidth) {
    width: 60%;
    margin-left: 0;
    margin-right: 0;
  }
}
