.skills {
  display: grid;
  grid-gap: 20px;

  @media (min-width: @tabletWidth) {
    grid-template-columns: repeat(3, 3fr);
  }
}

.skills__item {
  padding: 10px;

  font-family: 'Special-Elite', 'Arial', sans-serif;
  font-size: var(--sizeFont4);
  line-height: var(--lineHeightFont);
  font-weight: 400;

  border: 2px solid var(--colorFontBlack);

  @media (min-width: @tabletWidth) {
    text-align: center;
  }
}
