.skills-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;

  @media (min-width: @tabletWidth) {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }

  @media (min-width: @desktopWidth) {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
  }
}

.skills-list__item {
  position: relative;

  padding: 5px 10px;

  font-family: 'Special-Elite', 'Arial', sans-serif;
  font-weight: 400;
  text-align: center;

  border: 2px solid var(--colorGrey);

  &-html {
    --skill-html: 70%;
    background-image: linear-gradient(90deg, var(--colorGrey) var(--skill-html), #ffffff var(--skill-html));
  }

  &-css {
    --skill-css: 70%;
    background-image: linear-gradient(90deg, var(--colorGrey) var(--skill-css), #ffffff var(--skill-css));
  }

  &-js {
    --skill-js: 10%;
    background-image: linear-gradient(90deg, var(--colorGrey) var(--skill-js), #ffffff var(--skill-js));
  }

  &-bootstrap {
    --skill-bootstrap: 50%;
    background-image: linear-gradient(90deg, var(--colorGrey) var(--skill-bootstrap), #ffffff var(--skill-bootstrap));
  }

  &-w3css {
    --skill-bootstrap: 50%;
    background-image: linear-gradient(90deg, var(--colorGrey) var(--skill-bootstrap), #ffffff var(--skill-bootstrap));
  }

  &-less {
    --skill-less: 50%;
    background-image: linear-gradient(90deg, var(--colorGrey) var(--skill-less), #ffffff var(--skill-less));
  }

  &-sass {
    --skill-sass: 10%;
    background-image: linear-gradient(90deg, var(--colorGrey) var(--skill-sass), #ffffff var(--skill-sass));
  }

  &-stylus {
    --skill-stylus: 10%;
    background-image: linear-gradient(90deg, var(--colorGrey) var(--skill-stylus), #ffffff var(--skill-stylus));
  }

  &-git {
    --skill-git: 30%;
    background-image: linear-gradient(90deg, var(--colorGrey) var(--skill-git), #ffffff var(--skill-git));
  }

  &-grunt {
    --skill-grunt: 30%;
    background-image: linear-gradient(90deg, var(--colorGrey) var(--skill-grunt), #ffffff var(--skill-grunt));
  }

  @media (min-width: @tabletWidth) {
    padding: 9px 15px;
  }

  @media (min-width: @desktopWidth) {
    padding: 12px 20px;
  }
}

.skills-list__text {
  color: var(--colorWhite2);
  mix-blend-mode: difference;
}

