.skills-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;

  @media (min-width: @tabletWidth) {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }

  @media (min-width: @desktopWidth) {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
  }
}

.skills-list__item {
  position: relative;

  padding: 5px 10px;

  font-family: 'Special-Elite', 'Arial', sans-serif;
  font-weight: 400;
  text-align: center;

  border: 2px solid var(--colorGrey);

  &-html {
    --skill-html: 70%;
    background-image: linear-gradient(90deg, var(--colorGrey) var(--skill-html), var(--colorWhite) var(--skill-html));
  }

  &-css {
    --skill-css: 70%;
    background-image: linear-gradient(90deg, var(--colorGrey) var(--skill-css), var(--colorWhite) var(--skill-css));
  }

  &-js {
    --skill-js: 10%;
    background-image: linear-gradient(90deg, var(--colorGrey) var(--skill-js), var(--colorWhite) var(--skill-js));
  }

  &-php {
    --skill-php: 1%;
    background-image: linear-gradient(90deg, var(--colorGrey) var(--skill-php), var(--colorWhite) var(--skill-php));
  }

  &-sql {
    --skill-sql: 1%;
    background-image: linear-gradient(90deg, var(--colorGrey) var(--skill-sql), var(--colorWhite) var(--skill-sql));
  }

  &-xml {
    --skill-xml: 1%;
    background-image: linear-gradient(90deg, var(--colorGrey) var(--skill-xml), var(--colorWhite) var(--skill-xml));
  }

  &-nodejs {
    --skill-nodejs: 1%;
    background-image: linear-gradient(90deg, var(--colorGrey) var(--skill-nodejs), var(--colorWhite) var(--skill-nodejs));
  }

  &-bootstrap {
    --skill-bootstrap: 50%;
    background-image: linear-gradient(90deg, var(--colorGrey) var(--skill-bootstrap), var(--colorWhite) var(--skill-bootstrap));
  }

  &-w3css {
    --skill-w3css: 50%;
    background-image: linear-gradient(90deg, var(--colorGrey) var(--skill-w3css), var(--colorWhite) var(--skill-w3css));
  }

  &-jquery {
    --skill-jquery: 10%;
    background-image: linear-gradient(90deg, var(--colorGrey) var(--skill-jquery), var(--colorWhite) var(--skill-jquery));
  }

  &-react {
    --skill-react: 1%;
    background-image: linear-gradient(90deg, var(--colorGrey) var(--skill-react), var(--colorWhite) var(--skill-react));
  }

  &-asp {
    --skill-asp: 1%;
    background-image: linear-gradient(90deg, var(--colorGrey) var(--skill-asp), var(--colorWhite) var(--skill-asp));
  }

  &-less {
    --skill-less: 50%;
    background-image: linear-gradient(90deg, var(--colorGrey) var(--skill-less), var(--colorWhite) var(--skill-less));
  }

  &-sass {
    --skill-sass: 10%;
    background-image: linear-gradient(90deg, var(--colorGrey) var(--skill-sass), var(--colorWhite) var(--skill-sass));
  }

  &-stylus {
    --skill-stylus: 10%;
    background-image: linear-gradient(90deg, var(--colorGrey) var(--skill-stylus), var(--colorWhite) var(--skill-stylus));
  }

  &-grunt {
    --skill-grunt: 30%;
    background-image: linear-gradient(90deg, var(--colorGrey) var(--skill-grunt), var(--colorWhite) var(--skill-grunt));
  }

  &-git {
    --skill-git: 30%;
    background-image: linear-gradient(90deg, var(--colorGrey) var(--skill-git), var(--colorWhite) var(--skill-git));
  }

  @media (min-width: @tabletWidth) {
    padding: 9px 15px;
  }

  @media (min-width: @desktopWidth) {
    padding: 12px 20px;
  }
}

.skills-list__text {
  color: var(--colorWhite2);
  mix-blend-mode: difference;
}

