.skills-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;

  @media (min-width: @tabletWidth) {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }

  @media (min-width: @desktopWidth) {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
  }
}

.skills-list__item {
  position: relative;

  padding: 5px 10px;

  font-family: 'Special-Elite', 'Arial', sans-serif;
  font-weight: 400;
  text-align: center;

  border: 2px solid #3c3b3d;
  border: 2px solid var(--colorGrey, #3c3b3d);

  &-html {
    --skill-html: 70%;
    background-image: linear-gradient(90deg, #3c3b3d 70%, #ffffff 70%);
    background-image: linear-gradient(90deg, var(--colorGrey, #3c3b3d) var(--skill-html, 70%), var(--colorWhite, #ffffff) var(--skill-html, 70%));
  }

  &-css {
    --skill-css: 70%;
    background-image: linear-gradient(90deg, #3c3b3d 70%, #ffffff 70%);
    background-image: linear-gradient(90deg, var(--colorGrey, #3c3b3d) var(--skill-css, 70%), var(--colorWhite, #ffffff) var(--skill-css, 70%));
  }

  &-js {
    --skill-js: 10%;
    background-image: linear-gradient(90deg, #3c3b3d 10%, #ffffff 10%);
    background-image: linear-gradient(90deg, var(--colorGrey, #3c3b3d) var(--skill-js, 10%), var(--colorWhite, #ffffff) var(--skill-js, 10%));
  }

  &-bootstrap {
    --skill-bootstrap: 40%;
    background-image: linear-gradient(90deg, #3c3b3d 40%, #ffffff 40%);
    background-image: linear-gradient(90deg, var(--colorGrey, #3c3b3d) var(--skill-bootstrap, 40%), var(--colorWhite, #ffffff) var(--skill-bootstrap, 40%));
  }

  &-w3css {
    --skill-w3css: 70%;
    background-image: linear-gradient(90deg, #3c3b3d 70%, #ffffff 70%);
    background-image: linear-gradient(90deg, var(--colorGrey, #3c3b3d) var(--skill-w3css, 70%), var(--colorWhite, #ffffff) var(--skill-w3css, 70%));
  }

  &-jquery {
    --skill-jquery: 20%;
    background-image: linear-gradient(90deg, #3c3b3d 20%, #ffffff 20%);
    background-image: linear-gradient(90deg, var(--colorGrey, #3c3b3d) var(--skill-jquery, 20%), var(--colorWhite, #ffffff) var(--skill-jquery, 20%));
  }

  &-w3js {
    --skill-w3js: 20%;
    background-image: linear-gradient(90deg, #3c3b3d 20%, #ffffff 20%);
    background-image: linear-gradient(90deg, var(--colorGrey, #3c3b3d) var(--skill-w3js, 20%), var(--colorWhite, #ffffff) var(--skill-w3js, 20%));
  }

  &-less {
    --skill-less: 50%;
    background-image: linear-gradient(90deg, #3c3b3d 50%, #ffffff 50%);
    background-image: linear-gradient(90deg, var(--colorGrey, #3c3b3d) var(--skill-less, 50%), var(--colorWhite, #ffffff) var(--skill-less, 50%));
  }

  &-sass {
    --skill-sass: 10%;
    background-image: linear-gradient(90deg, #3c3b3d 10%, #ffffff 10%);
    background-image: linear-gradient(90deg, var(--colorGrey, #3c3b3d) var(--skill-sass, 10%), var(--colorWhite, #ffffff) var(--skill-sass, 10%));
  }

  &-stylus {
    --skill-stylus: 10%;
    background-image: linear-gradient(90deg, #3c3b3d 10%, #ffffff 10%);
    background-image: linear-gradient(90deg, var(--colorGrey, #3c3b3d) var(--skill-stylus, 10%), var(--colorWhite, #ffffff) var(--skill-stylus, 10%));
  }

  &-grunt {
    --skill-grunt: 50%;
    background-image: linear-gradient(90deg, #3c3b3d 50%, #ffffff 50%);
    background-image: linear-gradient(90deg, var(--colorGrey, #3c3b3d) var(--skill-grunt, 50%), var(--colorWhite, #ffffff) var(--skill-grunt, 50%));
  }

  &-git {
    --skill-git: 50%;
    background-image: linear-gradient(90deg, #3c3b3d 50%, #ffffff 50%);
    background-image: linear-gradient(90deg, var(--colorGrey, #3c3b3d) var(--skill-git, 50%), var(--colorWhite, #ffffff) var(--skill-git, 50%));
  }

  @media (min-width: @tabletWidth) {
    padding: 9px 15px;
  }

  @media (min-width: @desktopWidth) {
    padding: 12px 20px;
  }
}

.skills-list__text {
  color: #cbc9cf;
  color: var(--colorWhite2, #cbc9cf);
  mix-blend-mode: difference;
}

