.social-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  font-family: 'Roboto-Mono', 'Arial', sans-serif;
  font-weight: 300;
  font-weight: var(--weightFont3, 300);

  @media (min-width: @desktopWidth) {
    width: 60%;
  }
}

.social-list__item {
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }

  @media (min-width: @tabletWidth) {
    margin-right: 26px;
  }
}

.social-list__link {
  position: relative;

  display: block;

  width: 38px;
  height: 38px;

  border-radius: 50%;
  .customShadowDefault();

  transition: box-shadow 0.2s, fill 0.2s, transform 0.2s;

  overflow: hidden;

  &:hover {
    .customShadowHover();

    .transformHover();
  }

  &:active {
    .customShadowActive();

    .transformActive();
  }

  &:hover .social-list__icon {
    fill: #6d6c70;
    fill: var(--colorGrey2, #6d6c70);
  }

  &:active .social-list__icon {
    fill: #3c3b3d;
    fill: var(--colorGrey, #3c3b3d);
  }

  @media (min-width: @tabletWidth) {
    width: 48px;
    height: 48px;
  }
}

.social-list__icon {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 38px;
  height: 38px;

  border-radius: 50%;
  fill: #cbc9cf;
  fill: var(--colorWhite2, #cbc9cf);

  transform: translate(-50%, -50%);

  @media (min-width: @tabletWidth) {
    width: 48px;
    height: 48px;
  }
}
