.works-list {
  @media (min-width: @tabletWidth) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: @spaceM;
  }
}

// hack for ie
_:-ms-fullscreen, :root .works-list {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
// hack for ie end

.works-list__link {
  position: relative;

  display: block;
  margin-bottom: calc(100vw * 5 / 100);

  .backgroundColorGrey3();
  .customShadowWorksDefault();

  transition: transform 0.2s, box-shadow 0.2s;

  overflow: hidden;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    .customShadowWorksHover();
    .transformHover();
  }

  &:hover .works-list__img,
  &:focus .works-list__img {
    filter: grayscale(0);
  }

  &:hover .works-list__link-caption,
  &:focus .works-list__link-caption {
    transform: translateY(-100%);
    opacity: 1;
  }

  &:active {
    .customShadowWorksActive();
    .transformActive();
  }

  @media (min-width: @tabletWidth) {
    margin-bottom: 0;
  }
}

// hack for ie
_:-ms-fullscreen, :root .works-list__link {
  @media (min-width: @tabletWidth) {
    width: 48%;
    margin-bottom: @spaceXL;
  }

  &:nth-last-child(-n+2) {
    @media (min-width: @tabletWidth) {
      margin-bottom: 0;
    }
  }

  &:nth-child(even) {
    @media (min-width: @tabletWidth) {
      float: right;
    }
  }

  &:nth-child(odd) {
    @media (min-width: @tabletWidth) {
      float: left;
    }
  }
}
// hack for ie end

.works-list__link-caption {
  position: absolute;
  top: 100%;
  left: 0;

  display: block;

  width: 100%;

  padding: @spaceS @spaceM;

  .fontSmall();
  .colorWhite2();

  text-align: center;

  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;

  transform: translateY(-100%);
  transition: opacity 1s, transform 0.4s;

  @media (min-width: @desktopWidth) {
    opacity: 0;
    transform: translateY(0);
  }
}

.works-list__img {
  filter: grayscale(100%);
}
