@font-face {
  font-family: 'Special-Elite';
  src: url('../font/woff2/SpecialElite-Regular.woff2') format('woff2'), url('../font/woff/SpecialElite-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Open-Sans';
  src: url('../font/woff2/OpenSans-Regular.woff2') format('woff2'), url('../font/woff/OpenSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto-Mono';
  src: url('../font/woff2/RobotoMono-VariableFont_wght.woff2') format('woff2-variations'), url('../font/woff/RobotoMono-VariableFont_wght.woff') format('woff-variations'), url('../font/woff2/RobotoMono-Light.woff2') format('woff2'), url('../font/woff/RobotoMono-Light.woff') format('woff');
  font-weight: 300;
  font-weight: 100 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto-Mono';
  src: url('../font/woff2/RobotoMono-Medium.woff2') format('woff2'), url('../font/woff/RobotoMono-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}
/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}
/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}
/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}
/* var css */
:root {
  /* var color */
  --colorBlack: #000000;
  --colorWhite: #ffffff;
  --colorBlack2: #1e1e1f;
  --colorWhite2: #cbc9cf;
  --colorGrey: #3c3b3d;
  --colorGrey2: #6d6c70;
  --colorGrey3: #a2a1a6;
}
/* var less */
/* font */
/* var viewport */
/* var centered block */
/* var retina */
/* var font-family */
/* margin padding box */
/* border-radius */
/* burger size */
/* content centered block */
/* custom focus */
/* shadow */
/*тень для фокуса*/
/* transform */
/* font parameter */
/*
golder ratio

fontsize
| 16px * 320 |

| 2.625      |
| 2.063      |
| 1.625      |
| 1.25       |
| 1          |
| 0.813      |

space
| 16px * 320 |

| 2.625      |
| 1.625      |
| 1          |
| 0.625      |
| 0.375      |
| 0.25       |

*/
/* color */
/* background-color */
/* btn-up */
/* burger */
/* .social-list__link */
/* copyright icon */
/* links-list__link-icon */
/* main__link-icon */
html,
body {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Open-Sans', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.625;
  font-weight: 400;
  font-style: normal;
  color: #1e1e1f;
  color: var(--colorBlack2, #1e1e1f);
}
@media (min-width: 600px) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 1100px) {
  html {
    font-size: 20px;
  }
}
/* Box model */
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* Body */
body {
  display: flex;
  flex-direction: column;
  min-width: 280px;
  max-width: 100%;
  min-height: 100vh;
}
/* Tag */
p {
  margin-top: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
img,
picture {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
}
figure {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
article {
  margin: 0;
  padding: 0;
}
button:hover {
  cursor: pointer;
}
/* Only sr */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Focus custom */
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}
button:focus:not(:focus-visible) {
  outline: none;
}
.js-focus-visible .focus-visible {
  outline: 2px solid #3c3b3d;
  outline: 2px solid var(--colorGrey, #3c3b3d);
}
.js-focus-visible .menu__link.focus-visible {
  outline-offset: -2px;
}
@media (min-width: 600px) {
  .js-focus-visible .menu__link.focus-visible {
    outline-offset: 0;
  }
}
.js-focus-visible .logo.focus-visible {
  outline: none;
  box-shadow: 0 2px 2px 0 #000000, 0 0 0 4px #ffffff, 0 0 0 6px #3c3b3d;
  box-shadow: 0 2px 2px 0 var(--colorBlack, #000000), 0 0 0 4px #ffffff, 0 0 0 6px #3c3b3d;
  box-shadow: 0 2px 2px 0 #000000, 0 0 0 4px var(--colorWhite, #ffffff), 0 0 0 6px var(--colorGrey, #3c3b3d);
  box-shadow: 0 2px 2px 0 var(--colorBlack, #000000), 0 0 0 4px var(--colorWhite, #ffffff), 0 0 0 6px var(--colorGrey, #3c3b3d);
  transition: fill 0.2s, transform 0.2s;
}
.js-focus-visible button.focus-visible {
  outline: none;
  box-shadow: 0 2px 2px 0 #000000, 0 0 0 4px #ffffff, 0 0 0 6px #3c3b3d;
  box-shadow: 0 2px 2px 0 var(--colorBlack, #000000), 0 0 0 4px #ffffff, 0 0 0 6px #3c3b3d;
  box-shadow: 0 2px 2px 0 #000000, 0 0 0 4px var(--colorWhite, #ffffff), 0 0 0 6px var(--colorGrey, #3c3b3d);
  box-shadow: 0 2px 2px 0 var(--colorBlack, #000000), 0 0 0 4px var(--colorWhite, #ffffff), 0 0 0 6px var(--colorGrey, #3c3b3d);
  transition: transform 0.2s;
}
.js-focus-visible .footer *.focus-visible {
  outline-color: #cbc9cf;
  outline-color: var(--colorWhite2, #cbc9cf);
}
.js-focus-visible .social-list__link.focus-visible,
.js-focus-visible .copyright__licenses-link.focus-visible {
  outline: none;
  box-shadow: 0 2px 2px 0 #000000, 0 0 0 4px #1e1e1f, 0 0 0 6px #cbc9cf;
  box-shadow: 0 2px 2px 0 var(--colorBlack, #000000), 0 0 0 4px #1e1e1f, 0 0 0 6px #cbc9cf;
  box-shadow: 0 2px 2px 0 #000000, 0 0 0 4px var(--colorBlack2, #1e1e1f), 0 0 0 6px var(--colorWhite2, #cbc9cf);
  box-shadow: 0 2px 2px 0 var(--colorBlack, #000000), 0 0 0 4px var(--colorBlack2, #1e1e1f), 0 0 0 6px var(--colorWhite2, #cbc9cf);
  transition: fill 0.2s, transform 0.2s;
}
.js-focus-visible .works-list__link.focus-visible {
  outline-offset: 4px;
}
/* scroll custom */
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: #1e1e1f;
  background-color: var(--colorBlack2, #1e1e1f);
}
::-webkit-scrollbar-thumb {
  background-color: #6d6c70;
  background-color: var(--colorGrey2, #6d6c70);
}
::-webkit-scrollbar-thumb:hover {
  background-color: #a2a1a6;
  background-color: var(--colorGrey3, #a2a1a6);
}
::-webkit-scrollbar-thumb:active {
  color: #cbc9cf;
  color: var(--colorWhite2, #cbc9cf);
}
::-webkit-scrollbar-corner {
  background-color: #1e1e1f;
  background-color: var(--colorBlack2, #1e1e1f);
}
/* Skip link */
.skip-link {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 100;
  padding: 0.5rem 1rem;
  font-family: 'Roboto-Mono', 'Arial', sans-serif;
  font-size: 0.75rem;
  font-weight: 300;
  color: #cbc9cf;
  color: var(--colorWhite2, #cbc9cf);
  background-color: #1e1e1f;
  background-color: var(--colorBlack2, #1e1e1f);
  transform: translate(-50%, -100%);
  transition: transform 0.4s;
}
.skip-link:focus {
  transform: translate(-50%, 0);
}
/* User select */
::-moz-selection {
  color: #cbc9cf;
  color: var(--colorWhite2, #cbc9cf);
  background-color: #1e1e1f;
  background-color: var(--colorBlack2, #1e1e1f);
}
::selection {
  color: #cbc9cf;
  color: var(--colorWhite2, #cbc9cf);
  background-color: #1e1e1f;
  background-color: var(--colorBlack2, #1e1e1f);
}
code::-moz-selection, code-box ::-moz-selection, footer ::-moz-selection {
  color: #1e1e1f;
  color: var(--colorBlack2, #1e1e1f);
  background-color: #cbc9cf;
  background-color: var(--colorWhite2, #cbc9cf);
}
code::selection,
code-box ::selection,
footer ::selection {
  color: #1e1e1f;
  color: var(--colorBlack2, #1e1e1f);
  background-color: #cbc9cf;
  background-color: var(--colorWhite2, #cbc9cf);
}
.skills-list ::-moz-selection {
  color: #000000;
  color: var(--colorBlack, #000000);
  background-color: #ffffff;
  background-color: var(--colorWhite, #ffffff);
}
.skills-list ::selection {
  color: #000000;
  color: var(--colorBlack, #000000);
  background-color: #ffffff;
  background-color: var(--colorWhite, #ffffff);
}
.header {
  position: relative;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
@media (min-width: 1100px) {
  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}
.header__wrapper-logo {
  position: relative;
  width: 90%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}
@media (min-width: 1100px) {
  .header__wrapper-logo {
    width: 35%;
    margin-left: 0;
    margin-right: 0;
  }
}
.header__title {
  display: block;
  font-family: 'Special-Elite', 'Arial', sans-serif;
  font-size: 2.5rem;
  line-height: 1;
  text-transform: lowercase;
}
.header__caption {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Roboto-Mono', 'Arial', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  text-transform: lowercase;
}
@media (min-width: 1100px) {
  .header__caption {
    line-height: 2;
  }
}
.header__wrapper-menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}
@media (min-width: 600px) {
  .header__wrapper-menu {
    max-height: none;
    overflow: visible;
  }
}
@media (min-width: 1100px) {
  .header__wrapper-menu {
    height: 100%;
  }
}
.header__image {
  display: block;
  margin-bottom: 1rem;
}
_:-ms-fullscreen,
:root .header__image {
  height: calc(100vw * 0.5625);
}
@media (min-width: 1100px) {
  _:-ms-fullscreen,
  :root .header__image {
    height: auto;
  }
}
.header__text {
  width: 90%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  font-family: 'Roboto-Mono', 'Arial', sans-serif;
  font-weight: 300;
}
@media (min-width: 1100px) {
  .header__text {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
.logo {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  margin-bottom: 0.5rem;
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 #000000;
  box-shadow: 0 2px 2px 0 var(--colorBlack, #000000);
  transition: box-shadow 0.2s, fill 0.2s, transform 0.2s;
}
.logo:hover {
  box-shadow: -1px 4px 4px 0 #000000;
  box-shadow: -1px 4px 4px 0 var(--colorBlack, #000000);
  transform: translate(0, -2px);
}
.logo:active {
  box-shadow: 0 2px 2px 0 #000000;
  box-shadow: 0 2px 2px 0 var(--colorBlack, #000000);
  transform: translate(0, 0);
}
.logo:hover .logo__icon {
  fill: #6d6c70;
  fill: var(--colorGrey2, #6d6c70);
}
.logo:active .logo__icon {
  fill: #a2a1a6;
  fill: var(--colorGrey3, #a2a1a6);
}
.logo__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  fill: #1e1e1f;
  fill: var(--colorBlack2, #1e1e1f);
  transform: translate(-50%, -50%);
  transition: fill 0.2s;
}
.tooltip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 80px;
  padding: 0.25rem;
  font-family: 'Roboto-Mono', 'Arial', sans-serif;
  font-size: 0.75rem;
  font-weight: 300;
  color: #cbc9cf;
  color: var(--colorWhite2, #cbc9cf);
  text-align: center;
  border-radius: 2px;
  background-color: #1e1e1f;
  background-color: var(--colorBlack2, #1e1e1f);
  opacity: 0;
  transform: translateX(-50%);
  -webkit-animation-name: tooltip;
          animation-name: tooltip;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.tooltip::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 50%;
  border: 5px solid transparent;
  border-top-color: #1e1e1f;
  border-top-color: var(--colorBlack2, #1e1e1f);
  transform: translateX(-50%);
}
.footer .tooltip {
  background-color: #cbc9cf;
  background-color: var(--colorWhite2, #cbc9cf);
  color: #1e1e1f;
  color: var(--colorBlack2, #1e1e1f);
}
.footer .tooltip::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 50%;
  border: 5px solid transparent;
  border-top-color: #cbc9cf;
  border-top-color: var(--colorWhite2, #cbc9cf);
}
@-webkit-keyframes tooltip {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes tooltip {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.nav {
  width: 90%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 600px) {
  .nav {
    margin-bottom: 1rem;
  }
}
@media (min-width: 1100px) {
  .nav {
    width: 60%;
    margin-left: 0;
    margin-right: 0;
  }
}
.burger {
  position: absolute;
  top: 2.5rem;
  right: 5%;
  width: 3rem;
  height: 3rem;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 0 2px 2px 0 #000000;
  box-shadow: 0 2px 2px 0 var(--colorBlack, #000000);
  transition: box-shadow 0.2s, fill 0.2s, transform 0.2s;
  overflow: hidden;
}
.burger:hover {
  box-shadow: -1px 4px 4px 0 #000000;
  box-shadow: -1px 4px 4px 0 var(--colorBlack, #000000);
  transform: translate(0, -2px);
}
.burger:active {
  box-shadow: 0 2px 2px 0 #000000;
  box-shadow: 0 2px 2px 0 var(--colorBlack, #000000);
  transform: translate(0, 0);
}
.burger:hover .burger__inner {
  box-shadow: inset 0 -2px 0 0 #6d6c70;
  box-shadow: inset 0 -2px 0 0 var(--colorGrey2, #6d6c70);
}
.burger:active .burger__inner {
  box-shadow: inset 0 -2px 0 0 #a2a1a6;
  box-shadow: inset 0 -2px 0 0 var(--colorGrey3, #a2a1a6);
}
.burger:hover .burger__inner::after,
.burger:hover .burger__inner::before {
  background-color: #6d6c70;
  background-color: var(--colorGrey2, #6d6c70);
}
.burger:active .burger__inner::after,
.burger:active .burger__inner::before {
  background-color: #a2a1a6;
  background-color: var(--colorGrey3, #a2a1a6);
}
@media (min-width: 600px) {
  .burger {
    display: none;
  }
}
.burger__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 36px;
  height: 22px;
  box-shadow: inset 0 -2px 0 0 #1e1e1f;
  box-shadow: inset 0 -2px 0 0 var(--colorBlack2, #1e1e1f);
  transform: translate(-50%, -50%);
  transition: box-shadow 0.2s;
}
.burger__inner::before,
.burger__inner::after {
  position: absolute;
  content: '';
  display: block;
  height: 2px;
  background-color: #1e1e1f;
  background-color: var(--colorBlack2, #1e1e1f);
  transition: background-color 0.2s;
}
.burger__inner::before {
  top: 0;
  left: 0;
  width: 100%;
}
.burger__inner::after {
  top: 50%;
  right: 0;
  width: 50%;
  transform: translate(0, -50%);
}
.burger--open .burger__inner {
  -webkit-animation-name: burgerOpen;
          animation-name: burgerOpen;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
.burger--open .burger__inner::after {
  -webkit-animation-name: burgerAfterOpen;
          animation-name: burgerAfterOpen;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
.burger--open .burger__inner::before {
  -webkit-animation-name: burgerBeforeOpen;
          animation-name: burgerBeforeOpen;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
.burger--close .burger__inner {
  -webkit-animation-name: burgerClose;
          animation-name: burgerClose;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
  animation-direction: reverse;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
.burger--close .burger__inner::after {
  -webkit-animation-name: burgerAfterClose;
          animation-name: burgerAfterClose;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  animation-direction: reverse;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
.burger--close .burger__inner::before {
  -webkit-animation-name: burgerBeforeClose;
          animation-name: burgerBeforeClose;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  animation-direction: reverse;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
@-webkit-keyframes burgerOpen {
  0% {
    box-shadow: inset 0 -2px 0 0 #1e1e1f;
    box-shadow: inset 0 -2px 0 0 var(--colorBlack2, #1e1e1f);
  }
  100% {
    box-shadow: inset 0 -2px 0 0 transparent;
  }
}
@keyframes burgerOpen {
  0% {
    box-shadow: inset 0 -2px 0 0 #1e1e1f;
    box-shadow: inset 0 -2px 0 0 var(--colorBlack2, #1e1e1f);
  }
  100% {
    box-shadow: inset 0 -2px 0 0 transparent;
  }
}
@-webkit-keyframes burgerAfterOpen {
  0% {
    width: 50%;
  }
  25% {
    width: 100%;
    transform: translate(0, -50%) rotate(0) scaleX(1);
  }
  25% {
    width: 100%;
    transform: translate(0, -50%) rotate(0) scaleX(1);
  }
  50% {
    width: 100%;
    transform: translate(0, -50%) rotate(0) scaleX(0.6);
  }
  50% {
    width: 100%;
    transform: translate(0, -50%) rotate(0) scaleX(0.6);
  }
  75% {
    width: 100%;
    transform: translate(0, -50%) rotate(0) scaleX(0.6);
  }
  100% {
    width: 100%;
    transform: translate(0, -50%) rotate(45deg) scaleX(0.6);
  }
}
@keyframes burgerAfterOpen {
  0% {
    width: 50%;
  }
  25% {
    width: 100%;
    transform: translate(0, -50%) rotate(0) scaleX(1);
  }
  25% {
    width: 100%;
    transform: translate(0, -50%) rotate(0) scaleX(1);
  }
  50% {
    width: 100%;
    transform: translate(0, -50%) rotate(0) scaleX(0.6);
  }
  50% {
    width: 100%;
    transform: translate(0, -50%) rotate(0) scaleX(0.6);
  }
  75% {
    width: 100%;
    transform: translate(0, -50%) rotate(0) scaleX(0.6);
  }
  100% {
    width: 100%;
    transform: translate(0, -50%) rotate(45deg) scaleX(0.6);
  }
}
@-webkit-keyframes burgerBeforeOpen {
  0% {
    transform: translateY(0) rotate(0) scaleX(1);
  }
  25% {
    top: 0;
    transform: translateY(0) rotate(0) scaleX(1);
  }
  25% {
    top: 0;
    transform: translateY(0) rotate(0) scaleX(1);
  }
  50% {
    top: 0;
    transform: translateY(0) rotate(0) scaleX(0.6);
  }
  75% {
    top: 50%;
    transform: translateY(-50%) rotate(0) scaleX(0.6);
  }
  75% {
    top: 50%;
    transform: translateY(-50%) rotate(0) scaleX(0.6);
  }
  100% {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg) scaleX(0.6);
  }
}
@keyframes burgerBeforeOpen {
  0% {
    transform: translateY(0) rotate(0) scaleX(1);
  }
  25% {
    top: 0;
    transform: translateY(0) rotate(0) scaleX(1);
  }
  25% {
    top: 0;
    transform: translateY(0) rotate(0) scaleX(1);
  }
  50% {
    top: 0;
    transform: translateY(0) rotate(0) scaleX(0.6);
  }
  75% {
    top: 50%;
    transform: translateY(-50%) rotate(0) scaleX(0.6);
  }
  75% {
    top: 50%;
    transform: translateY(-50%) rotate(0) scaleX(0.6);
  }
  100% {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg) scaleX(0.6);
  }
}
@-webkit-keyframes burgerClose {
  0% {
    box-shadow: inset 0 -2px 0 0 #1e1e1f;
    box-shadow: inset 0 -2px 0 0 var(--colorBlack2, #1e1e1f);
  }
  100% {
    box-shadow: inset 0 -2px 0 0 transparent;
  }
}
@keyframes burgerClose {
  0% {
    box-shadow: inset 0 -2px 0 0 #1e1e1f;
    box-shadow: inset 0 -2px 0 0 var(--colorBlack2, #1e1e1f);
  }
  100% {
    box-shadow: inset 0 -2px 0 0 transparent;
  }
}
@-webkit-keyframes burgerAfterClose {
  0% {
    width: 50%;
  }
  25% {
    width: 100%;
    transform: translate(0, -50%) rotate(0) scaleX(1);
  }
  25% {
    width: 100%;
    transform: translate(0, -50%) rotate(0) scaleX(1);
  }
  50% {
    width: 100%;
    transform: translate(0, -50%) rotate(0) scaleX(0.6);
  }
  50% {
    width: 100%;
    transform: translate(0, -50%) rotate(0) scaleX(0.6);
  }
  75% {
    width: 100%;
    transform: translate(0, -50%) rotate(0) scaleX(0.6);
  }
  100% {
    width: 100%;
    transform: translate(0, -50%) rotate(45deg) scaleX(0.6);
  }
}
@keyframes burgerAfterClose {
  0% {
    width: 50%;
  }
  25% {
    width: 100%;
    transform: translate(0, -50%) rotate(0) scaleX(1);
  }
  25% {
    width: 100%;
    transform: translate(0, -50%) rotate(0) scaleX(1);
  }
  50% {
    width: 100%;
    transform: translate(0, -50%) rotate(0) scaleX(0.6);
  }
  50% {
    width: 100%;
    transform: translate(0, -50%) rotate(0) scaleX(0.6);
  }
  75% {
    width: 100%;
    transform: translate(0, -50%) rotate(0) scaleX(0.6);
  }
  100% {
    width: 100%;
    transform: translate(0, -50%) rotate(45deg) scaleX(0.6);
  }
}
@-webkit-keyframes burgerBeforeClose {
  0% {
    transform: translateY(0) rotate(0) scaleX(1);
  }
  25% {
    top: 0;
    transform: translateY(0) rotate(0) scaleX(1);
  }
  25% {
    top: 0;
    transform: translateY(0) rotate(0) scaleX(1);
  }
  50% {
    top: 0;
    transform: translateY(0) rotate(0) scaleX(0.6);
  }
  75% {
    top: 50%;
    transform: translateY(-50%) rotate(0) scaleX(0.6);
  }
  75% {
    top: 50%;
    transform: translateY(-50%) rotate(0) scaleX(0.6);
  }
  100% {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg) scaleX(0.6);
  }
}
@keyframes burgerBeforeClose {
  0% {
    transform: translateY(0) rotate(0) scaleX(1);
  }
  25% {
    top: 0;
    transform: translateY(0) rotate(0) scaleX(1);
  }
  25% {
    top: 0;
    transform: translateY(0) rotate(0) scaleX(1);
  }
  50% {
    top: 0;
    transform: translateY(0) rotate(0) scaleX(0.6);
  }
  75% {
    top: 50%;
    transform: translateY(-50%) rotate(0) scaleX(0.6);
  }
  75% {
    top: 50%;
    transform: translateY(-50%) rotate(0) scaleX(0.6);
  }
  100% {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg) scaleX(0.6);
  }
}
.menu {
  padding-bottom: 1rem;
}
@media (min-width: 600px) {
  .menu {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media (min-width: 1100px) {
  .menu {
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
  }
}
@media (min-width: 600px) {
  .menu__item {
    margin-right: 1rem;
  }
}
@media (min-width: 600px) {
  .menu__item:last-child {
    margin-right: 0;
  }
}
.menu__link {
  position: relative;
  display: block;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-right: 3rem;
  font-family: 'Roboto-Mono', 'Arial', sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  text-transform: uppercase;
  transition: font-weight 0.2s, color 0.2s;
}
@media (min-width: 600px) {
  .menu__link::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #1e1e1f;
    background-color: var(--colorBlack2, #1e1e1f);
    transform: scaleX(0);
    transform-origin: right center;
    transition-duration: 0.5s;
    transition-property: transform;
  }
}
@media (min-width: 600px) {
  .menu__link::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #a2a1a6;
    background-color: var(--colorGrey3, #a2a1a6);
    transform: scaleX(0);
    transform-origin: right center;
    transition-duration: 0.5s;
    transition-property: transform;
  }
}
@media (min-width: 600px) {
  .menu__link:hover::after {
    transform: scaleX(1);
    transform-origin: left center;
  }
}
.menu__link:hover {
  font-weight: 500;
}
.menu__link:hover .menu__link-icon {
  transform: translate(50%, -54%);
  box-shadow: -1px 4px 4px 0 #000000;
  box-shadow: -1px 4px 4px 0 var(--colorBlack, #000000);
  fill: #1e1e1f;
  fill: var(--colorBlack2, #1e1e1f);
}
.menu__link:active {
  color: #a2a1a6;
  color: var(--colorGrey3, #a2a1a6);
}
.menu__link:active .menu__link-icon {
  transform: translate(50%, -50%);
  box-shadow: 0 2px 2px 0 #000000;
  box-shadow: 0 2px 2px 0 var(--colorBlack, #000000);
  fill: #3c3b3d;
  fill: var(--colorGrey, #3c3b3d);
}
@media (min-width: 600px) {
  .menu__link {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }
}
_:-ms-fullscreen,
:root .menu__link {
  -ms-transition: none;
  transition: none;
}
.menu__link--active {
  font-weight: 500;
}
.menu__link--active:active {
  color: inherit;
}
.menu__link--active .menu__link-icon {
  transform: translate(50%, -54%);
  box-shadow: -1px 4px 4px 0 #000000;
  box-shadow: -1px 4px 4px 0 var(--colorBlack, #000000);
  fill: #1e1e1f;
  fill: var(--colorBlack2, #1e1e1f);
}
.menu__link--active:active .menu__link-icon {
  transform: translate(50%, -54%);
  box-shadow: -1px 4px 4px 0 #000000;
  box-shadow: -1px 4px 4px 0 var(--colorBlack, #000000);
  fill: #1e1e1f;
  fill: var(--colorBlack2, #1e1e1f);
}
@media (min-width: 600px) {
  .menu__link--active:hover::after {
    transition-delay: 0.25s;
  }
}
@media (min-width: 600px) {
  .menu__link--active::before {
    transform: scaleX(1);
    transform-origin: left center;
    transition-duration: 0.5s;
    transition-delay: 0.25s;
    transition-property: transform;
  }
}
@media (min-width: 600px) {
  .menu__link--active:hover::before {
    transform: scaleX(0);
    transform-origin: right center;
    transition-delay: 0s;
  }
}
.menu__link-icon {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  fill: #a2a1a6;
  fill: var(--colorGrey3, #a2a1a6);
  box-shadow: 0 2px 2px 0 #000000;
  box-shadow: 0 2px 2px 0 var(--colorBlack, #000000);
  transform: translate(50%, -50%);
  transition: box-shadow 0.2s, fill 0.2s;
}
@media (min-width: 600px) {
  .menu__link-icon {
    display: none;
  }
}
.main {
  width: 90%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.main__section {
  margin-bottom: 2.5rem;
}
.main__section:last-child {
  margin-bottom: 0;
}
.main__caption {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: 'Roboto-Mono', 'Arial', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
}
.main__caption:last-child {
  margin-bottom: 0;
}
h3.main__caption {
  font-family: 'Roboto-Mono', 'Arial', sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: uppercase;
}
.main__caption-dash {
  position: relative;
  display: inline-block;
  padding-left: 2rem;
}
.main__caption-dash::after {
  position: absolute;
  content: '';
  top: 50%;
  left: 0;
  display: block;
  width: 1.25rem;
  height: 2px;
  transform: translateY(-50%);
  background-color: #1e1e1f;
  background-color: var(--colorBlack2, #1e1e1f);
}
.main__text {
  margin-bottom: 1rem;
}
.main__text:last-child {
  margin-bottom: 0;
}
.main__link {
  position: relative;
  display: block;
  margin-top: 0;
  padding-right: 3rem;
  font-family: 'Roboto-Mono', 'Arial', sans-serif;
  font-weight: 300;
  text-transform: lowercase;
  transition: font-weight 0.2s;
}
.main__link:hover {
  font-weight: 500;
}
.main__link:active {
  color: #3c3b3d;
  color: var(--colorGrey, #3c3b3d);
}
.main__link:hover .main__link-icon {
  transform: translate(50%, -54%);
  box-shadow: -1px 4px 4px 0 #000000;
  box-shadow: -1px 4px 4px 0 var(--colorBlack, #000000);
}
@media (min-width: 600px) {
  .main__link:hover .main__link-icon {
    transform: translate(0, -54%);
  }
}
.main__link:active .main__link-icon {
  transform: translate(50%, -50%);
  box-shadow: 0 2px 2px 0 #000000;
  box-shadow: 0 2px 2px 0 var(--colorBlack, #000000);
  fill: #3c3b3d;
  fill: var(--colorGrey, #3c3b3d);
}
@media (min-width: 600px) {
  .main__link:active .main__link-icon {
    transform: translate(0, -50%);
  }
}
@media (min-width: 600px) {
  .main__link {
    padding-right: 52px;
  }
}
.main__link-icon {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 #000000;
  box-shadow: 0 2px 2px 0 var(--colorBlack, #000000);
  fill: #1e1e1f;
  fill: var(--colorBlack2, #1e1e1f);
  transform: translate(50%, -50%);
  transition: box-shadow 0.2s, fill 0.2s, transform 0.2s;
}
@media (min-width: 600px) {
  .main__link-icon {
    right: 0;
    transform: translate(0, -50%);
  }
}
.mark {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 2px;
  background-color: #cbc9cf;
  background-color: var(--colorWhite2, #cbc9cf);
}
.code {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: #cbc9cf;
  color: var(--colorWhite2, #cbc9cf);
  border-radius: 2px;
  background-color: #1e1e1f;
  background-color: var(--colorBlack2, #1e1e1f);
}
.list {
  margin-bottom: 1rem;
  padding-left: 2rem;
  list-style-type: disc;
}
.list:last-child {
  margin-bottom: 0;
}
.list li {
  margin-bottom: 0.5rem;
}
.code-box {
  display: block;
  margin: 0;
  padding: 0;
  background-color: #1e1e1f;
  background-color: var(--colorBlack2, #1e1e1f);
}
.code-box__code {
  display: block;
  min-height: 100px;
  max-height: 50vh;
  margin: 0;
  padding: 1rem;
  -moz-tab-size: 2;
    -o-tab-size: 2;
       tab-size: 2;
  color: #a2a1a6;
  color: var(--colorGrey3, #a2a1a6);
  background-color: #1e1e1f;
  background-color: var(--colorBlack2, #1e1e1f);
  overflow: auto;
}
/*
  codepen.io Embed Theme
  Author: Justin Perry <http://github.com/ourmaninamsterdam>
  Original theme - https://github.com/chriskempson/tomorrow-theme
*/
.hljs {
  color: #a2a1a6;
  color: var(--colorGrey3, #a2a1a6);
  background-color: #1e1e1f;
  background-color: var(--colorBlack2, #1e1e1f);
}
.hljs-comment,
.hljs-quote {
  color: #777;
}
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-regexp,
.hljs-meta,
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-params,
.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-deletion {
  color: #ab875d;
}
.hljs-section,
.hljs-title,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-type,
.hljs-attribute {
  color: #9b869b;
}
.hljs-string,
.hljs-keyword,
.hljs-selector-tag,
.hljs-addition {
  color: #8f9c6c;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
.link {
  font-family: 'Roboto-Mono', 'Arial', sans-serif;
  font-weight: 300;
  text-decoration: underline;
  transition: font-weight 0.2s, color 0.2s;
}
.link:hover {
  font-weight: 500;
}
.link:active {
  color: #a2a1a6;
  color: var(--colorGrey3, #a2a1a6);
}
_:-ms-fullscreen,
:root .links-list__link {
  -ms-transition: none;
  transition: none;
}
.time-article {
  font-family: 'Roboto-Mono', 'Arial', sans-serif;
  font-weight: 300;
  text-transform: lowercase;
}
@media (min-width: 600px) {
  .links-list {
    display: flex;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(2, 45%);
    justify-content: space-between;
  }
}
@media (min-width: 1100px) {
  .links-list {
    grid-template-columns: repeat(3, 30%);
  }
}
.links-list__item {
  margin-bottom: 0.5rem;
}
.links-list__item:last-child {
  margin-bottom: 0;
}
@media (min-width: 600px) {
  .links-list__item {
    margin-bottom: 0;
  }
}
@media (min-width: 600px) {
  _:-ms-fullscreen,
  :root .links-list__item {
    width: 45%;
  }
}
@media (min-width: 1100px) {
  _:-ms-fullscreen,
  :root .links-list__item {
    width: 30%;
  }
}
.links-list__link {
  position: relative;
  display: block;
  padding-right: 3rem;
  font-family: 'Roboto-Mono', 'Arial', sans-serif;
  font-weight: 300;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: font-weight 0.2s, color 0.2s;
}
.links-list__link:hover {
  font-weight: 500;
  text-decoration: underline;
}
.links-list__link:hover .links-list__link-icon {
  box-shadow: -1px 4px 4px 0 #000000;
  box-shadow: -1px 4px 4px 0 var(--colorBlack, #000000);
  fill: #1e1e1f;
  fill: var(--colorBlack2, #1e1e1f);
  transform: translate(50%, -54%);
}
@media (min-width: 600px) {
  .links-list__link:hover .links-list__link-icon {
    transform: translate(-50%, -54%);
  }
}
.links-list__link:active {
  color: #a2a1a6;
  color: var(--colorGrey3, #a2a1a6);
}
.links-list__link:active .links-list__link-icon {
  box-shadow: 0 2px 2px 0 #000000;
  box-shadow: 0 2px 2px 0 var(--colorBlack, #000000);
  fill: #a2a1a6;
  fill: var(--colorGrey3, #a2a1a6);
  transform: translate(50%, -50%);
}
@media (min-width: 600px) {
  .links-list__link:active .links-list__link-icon {
    transform: translate(-50%, -50%);
  }
}
@media (min-width: 600px) {
  .links-list__link {
    padding-right: 2rem;
  }
}
_:-ms-fullscreen,
:root .links-list__link {
  -ms-transition: none;
  transition: none;
}
.links-list__link-icon {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  fill: #6d6c70;
  fill: var(--colorGrey2, #6d6c70);
  box-shadow: 0 2px 2px 0 #000000;
  box-shadow: 0 2px 2px 0 var(--colorBlack, #000000);
  transform: translate(50%, -50%);
  transition: transform 0.2s, box-shadow 0.2s, fill 0.2s;
}
@media (min-width: 600px) {
  .links-list__link-icon {
    right: 0px;
    transform: translate(-50%, -50%);
  }
}
.books-list__item {
  margin-bottom: 0.5rem;
  font-family: 'Roboto-Mono', 'Arial', sans-serif;
  font-weight: 300;
  transition: font-weight 0.2s;
}
.books-list__item:last-child {
  margin-bottom: 0;
}
.books-list__item:hover {
  font-weight: 500;
}
_:-ms-fullscreen,
:root .books-list__item {
  -ms-transition: none;
  transition: none;
}
@media (min-width: 600px) {
  .works-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
_:-ms-fullscreen::after,
:root .works-list::after {
  content: "";
  display: table;
  clear: both;
}
.works-list__link {
  position: relative;
  display: block;
  margin-bottom: calc(100vw * 5 / 100);
  background-color: #a2a1a6;
  background-color: var(--colorGrey3, #a2a1a6);
  box-shadow: 0 2px 2px 0 #000000;
  box-shadow: 0 2px 2px 0 var(--colorBlack, #000000);
  transition: transform 0.2s, box-shadow 0.2s;
  overflow: hidden;
}
.works-list__link:last-child {
  margin-bottom: 0;
}
.works-list__link:hover {
  box-shadow: -1px 4px 4px 0 #000000;
  box-shadow: -1px 4px 4px 0 var(--colorBlack, #000000);
  transform: translate(0, -2px);
}
.works-list__link:hover .works-list__img,
.works-list__link:focus .works-list__img {
  filter: grayscale(0);
}
.works-list__link:hover .works-list__link-caption,
.works-list__link:focus .works-list__link-caption {
  transform: translateY(-100%);
  opacity: 1;
}
.works-list__link:active {
  box-shadow: 0 2px 2px 0 #000000;
  box-shadow: 0 2px 2px 0 var(--colorBlack, #000000);
  transform: translate(0, 0);
}
@media (min-width: 600px) {
  .works-list__link {
    margin-bottom: 0;
  }
}
@media (min-width: 600px) {
  _:-ms-fullscreen,
  :root .works-list__link {
    width: 48%;
    margin-bottom: 2rem;
  }
}
@media (min-width: 600px) {
  _:-ms-fullscreen:nth-last-child(-n+2),
  :root .works-list__link:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}
@media (min-width: 600px) {
  _:-ms-fullscreen:nth-child(even),
  :root .works-list__link:nth-child(even) {
    float: right;
  }
}
@media (min-width: 600px) {
  _:-ms-fullscreen:nth-child(odd),
  :root .works-list__link:nth-child(odd) {
    float: left;
  }
}
.works-list__link-caption {
  position: absolute;
  top: 100%;
  left: 0;
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  font-family: 'Roboto-Mono', 'Arial', sans-serif;
  font-size: 0.75rem;
  font-weight: 300;
  color: #cbc9cf;
  color: var(--colorWhite2, #cbc9cf);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transform: translateY(-100%);
  transition: opacity 1s, transform 0.4s;
}
@media (min-width: 1100px) {
  .works-list__link-caption {
    opacity: 0;
    transform: translateY(0);
  }
}
.works-list__img {
  filter: grayscale(100%);
}
.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
@media (min-width: 600px) {
  .skills-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1100px) {
  .skills-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
.skills-list__item {
  position: relative;
  padding: 0.5rem 1rem;
  font-family: 'Special-Elite', 'Arial', sans-serif;
  text-align: center;
  border: 2px solid #3c3b3d;
  border: 2px solid var(--colorGrey, #3c3b3d);
}
.skills-list__item-html {
  --skill-html: 70%;
  background-image: linear-gradient(90deg, #3c3b3d 70%, #ffffff 70%);
  background-image: linear-gradient(90deg, var(--colorGrey, #3c3b3d) var(--skill-html, 70%), var(--colorWhite, #ffffff) var(--skill-html, 70%));
}
.skills-list__item-css {
  --skill-css: 70%;
  background-image: linear-gradient(90deg, #3c3b3d 70%, #ffffff 70%);
  background-image: linear-gradient(90deg, var(--colorGrey, #3c3b3d) var(--skill-css, 70%), var(--colorWhite, #ffffff) var(--skill-css, 70%));
}
.skills-list__item-js {
  --skill-js: 20%;
  background-image: linear-gradient(90deg, #3c3b3d 20%, #ffffff 20%);
  background-image: linear-gradient(90deg, var(--colorGrey, #3c3b3d) var(--skill-js, 20%), var(--colorWhite, #ffffff) var(--skill-js, 20%));
}
.skills-list__item-bootstrap {
  --skill-bootstrap: 40%;
  background-image: linear-gradient(90deg, #3c3b3d 40%, #ffffff 40%);
  background-image: linear-gradient(90deg, var(--colorGrey, #3c3b3d) var(--skill-bootstrap, 40%), var(--colorWhite, #ffffff) var(--skill-bootstrap, 40%));
}
.skills-list__item-w3css {
  --skill-w3css: 70%;
  background-image: linear-gradient(90deg, #3c3b3d 70%, #ffffff 70%);
  background-image: linear-gradient(90deg, var(--colorGrey, #3c3b3d) var(--skill-w3css, 70%), var(--colorWhite, #ffffff) var(--skill-w3css, 70%));
}
.skills-list__item-jquery {
  --skill-jquery: 20%;
  background-image: linear-gradient(90deg, #3c3b3d 20%, #ffffff 20%);
  background-image: linear-gradient(90deg, var(--colorGrey, #3c3b3d) var(--skill-jquery, 20%), var(--colorWhite, #ffffff) var(--skill-jquery, 20%));
}
.skills-list__item-w3js {
  --skill-w3js: 20%;
  background-image: linear-gradient(90deg, #3c3b3d 20%, #ffffff 20%);
  background-image: linear-gradient(90deg, var(--colorGrey, #3c3b3d) var(--skill-w3js, 20%), var(--colorWhite, #ffffff) var(--skill-w3js, 20%));
}
.skills-list__item-less {
  --skill-less: 50%;
  background-image: linear-gradient(90deg, #3c3b3d 50%, #ffffff 50%);
  background-image: linear-gradient(90deg, var(--colorGrey, #3c3b3d) var(--skill-less, 50%), var(--colorWhite, #ffffff) var(--skill-less, 50%));
}
.skills-list__item-sass {
  --skill-sass: 50%;
  background-image: linear-gradient(90deg, #3c3b3d 50%, #ffffff 50%);
  background-image: linear-gradient(90deg, var(--colorGrey, #3c3b3d) var(--skill-sass, 50%), var(--colorWhite, #ffffff) var(--skill-sass, 50%));
}
.skills-list__item-gulp {
  --skill-gulp: 50%;
  background-image: linear-gradient(90deg, #3c3b3d 50%, #ffffff 50%);
  background-image: linear-gradient(90deg, var(--colorGrey, #3c3b3d) var(--skill-gulp, 50%), var(--colorWhite, #ffffff) var(--skill-gulp, 50%));
}
.skills-list__item-grunt {
  --skill-grunt: 50%;
  background-image: linear-gradient(90deg, #3c3b3d 50%, #ffffff 50%);
  background-image: linear-gradient(90deg, var(--colorGrey, #3c3b3d) var(--skill-grunt, 50%), var(--colorWhite, #ffffff) var(--skill-grunt, 50%));
}
.skills-list__item-git {
  --skill-git: 50%;
  background-image: linear-gradient(90deg, #3c3b3d 50%, #ffffff 50%);
  background-image: linear-gradient(90deg, var(--colorGrey, #3c3b3d) var(--skill-git, 50%), var(--colorWhite, #ffffff) var(--skill-git, 50%));
}
_:-ms-fullscreen,
:root .skills-list__item {
  width: 48%;
  margin-bottom: 2rem;
}
_:-ms-fullscreen:nth-last-child(-n+2),
:root .skills-list__item:nth-last-child(-n+2) {
  margin-bottom: 0;
}
@media (min-width: 600px) {
  _:-ms-fullscreen:nth-last-child(-n+3),
  :root .skills-list__item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}
@media (min-width: 1100px) {
  _:-ms-fullscreen:nth-last-child(-n+4),
  :root .skills-list__item:nth-last-child(-n+4) {
    margin-bottom: 0;
  }
}
@media (min-width: 600px) {
  _:-ms-fullscreen,
  :root .skills-list__item {
    width: 31%;
    margin-bottom: 30px;
  }
}
@media (min-width: 1100px) {
  _:-ms-fullscreen,
  :root .skills-list__item {
    width: 22%;
  }
}
.skills-list__text {
  color: #cbc9cf;
  color: var(--colorWhite2, #cbc9cf);
  mix-blend-mode: difference;
}
.contacts-list__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
}
.contacts-list__item:last-child {
  margin-bottom: 0;
}
.contacts-list__text {
  font-family: 'Special-Elite', 'Arial', sans-serif;
}
.contacts-list__link {
  font-family: 'Roboto-Mono', 'Arial', sans-serif;
  font-weight: 300;
  transition: font-weight 0.2s, color 0.2s;
}
.contacts-list__link:hover {
  font-weight: 500;
  text-decoration: underline;
}
.contacts-list__link:active {
  color: #a2a1a6;
  color: var(--colorGrey3, #a2a1a6);
}
_:-ms-fullscreen,
:root .contacts-list__link {
  -ms-transition: none;
  transition: none;
}
.btn-up {
  position: relative;
  display: block;
  width: 2rem;
  height: 2rem;
  margin: 0 auto;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 0 2px 2px 0 #000000;
  box-shadow: 0 2px 2px 0 var(--colorBlack, #000000);
  transition: box-shadow 0.2s, transform 0.2s;
  overflow: hidden;
}
.btn-up::after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  width: 0.5rem;
  height: 0.5rem;
  border-width: 2px;
  border-style: solid;
  border-color: #1e1e1f;
  border-color: var(--colorBlack2, #1e1e1f);
  border-right-color: transparent;
  border-bottom-color: transparent;
  transform: translate(-50%, -25%) rotate(45deg);
  transition: border-color 0.2s;
}
.btn-up:hover {
  box-shadow: -1px 4px 4px 0 #000000;
  box-shadow: -1px 4px 4px 0 var(--colorBlack, #000000);
  transform: translate(0, -2px);
}
.btn-up:active {
  box-shadow: 0 2px 2px 0 #000000;
  box-shadow: 0 2px 2px 0 var(--colorBlack, #000000);
  transform: translate(0, 0);
}
.btn-up:hover::after {
  border-left-color: #6d6c70;
  border-left-color: var(--colorGrey2, #6d6c70);
  border-top-color: #6d6c70;
  border-top-color: var(--colorGrey2, #6d6c70);
}
.btn-up:active::after {
  border-left-color: #a2a1a6;
  border-left-color: var(--colorGrey3, #a2a1a6);
  border-top-color: #a2a1a6;
  border-top-color: var(--colorGrey3, #a2a1a6);
}
.footer {
  flex-grow: 1;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  color: #cbc9cf;
  color: var(--colorWhite2, #cbc9cf);
  background-color: #1e1e1f;
  background-color: var(--colorBlack2, #1e1e1f);
}
.footer-logo:hover {
  color: #6d6c70;
  color: var(--colorGrey2, #6d6c70);
}
.footer-logo:active {
  color: #3c3b3d;
  color: var(--colorGrey, #3c3b3d);
}
.footer-logo:hover .footer__logo-icon {
  fill: #6d6c70;
  fill: var(--colorGrey2, #6d6c70);
}
.footer-logo:active .footer__logo-icon {
  fill: #3c3b3d;
  fill: var(--colorGrey, #3c3b3d);
}
.footer__logo-icon {
  fill: #cbc9cf;
  fill: var(--colorWhite2, #cbc9cf);
}
.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}
.social-list__item {
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.social-list__link {
  position: relative;
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 #000000;
  box-shadow: 0 2px 2px 0 var(--colorBlack, #000000);
  transition: box-shadow 0.2s, fill 0.2s, transform 0.2s;
}
.social-list__link:hover {
  box-shadow: -1px 4px 4px 0 #000000;
  box-shadow: -1px 4px 4px 0 var(--colorBlack, #000000);
  transform: translate(0, -2px);
}
.social-list__link:active {
  box-shadow: 0 2px 2px 0 #000000;
  box-shadow: 0 2px 2px 0 var(--colorBlack, #000000);
  transform: translate(0, 0);
}
.social-list__link:hover .social-list__icon {
  fill: #6d6c70;
  fill: var(--colorGrey2, #6d6c70);
}
.social-list__link:active .social-list__icon {
  fill: #3c3b3d;
  fill: var(--colorGrey, #3c3b3d);
}
.social-list__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  fill: #cbc9cf;
  fill: var(--colorWhite2, #cbc9cf);
  transform: translate(-50%, -50%);
}
.copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.copyright__date {
  margin-bottom: 1rem;
  font-family: 'Roboto-Mono', 'Arial', sans-serif;
  font-size: 0.75rem;
  font-weight: 300;
  color: #cbc9cf;
  color: var(--colorWhite2, #cbc9cf);
}
.copyright__link {
  text-transform: lowercase;
  transition: font-weight 0.2s, color 0.2s;
}
.copyright__link:hover {
  font-weight: 500;
  color: #6d6c70;
  color: var(--colorGrey2, #6d6c70);
}
.copyright__link:active {
  color: #3c3b3d;
  color: var(--colorGrey, #3c3b3d);
}
_:-ms-fullscreen,
:root .copyright__link {
  -ms-transition: none;
  transition: none;
}
.copyright__licenses-link {
  position: relative;
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 #000000;
  box-shadow: 0 2px 2px 0 var(--colorBlack, #000000);
  transition: box-shadow 0.2s, fill 0.2s, transform 0.2s;
  overflow: hidden;
}
.copyright__licenses-link:hover {
  box-shadow: -1px 4px 4px 0 #000000;
  box-shadow: -1px 4px 4px 0 var(--colorBlack, #000000);
  transform: translate(0, -2px);
}
.copyright__licenses-link:active {
  box-shadow: 0 2px 2px 0 #000000;
  box-shadow: 0 2px 2px 0 var(--colorBlack, #000000);
  transform: translate(0, 0);
}
.copyright__licenses-link:hover .copyright__licenses-icon {
  fill: #6d6c70;
  fill: var(--colorGrey2, #6d6c70);
}
.copyright__licenses-link:active .copyright__licenses-icon {
  fill: #3c3b3d;
  fill: var(--colorGrey, #3c3b3d);
}
.copyright__licenses-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  fill: #1e1e1f;
  fill: var(--colorBlack2, #1e1e1f);
  opacity: 0.7;
  transform: translate(-50%, -50%);
}

/*# sourceMappingURL=style.css.map */
