html,
body {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}


*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 280px;

  font-family: 'Lora', 'Arial', sans-serif;
  font-size: var(--sizeFont3);
  line-height: var(--lineHeightFont);
  font-weight: var(--weightFont1);
  font-variation-settings: var(--wghtFont1);
  font-style: normal;
  color: var(--colorFontBlack);

  @media (min-width: @tabletWidth) {
    font-size: var(--sizeFont4);
  }

  @media (min-width: @desktopWidth) {
    font-size: var(--sizeFont5);
  }
}

h1 {
  margin-top: 0;
  margin-bottom: 0;

  font-size: var(--sizeFont2);
  line-height: var(--lineHeightFont);
  font-weight: var(--weightFont1);
  font-variation-settings: var(--wghtFont1);

  @media (min-width: @tabletWidth) {
    font-size: var(--sizeFont3);
  }

  @media (min-width: @desktopWidth) {
    font-size: var(--sizeFont4);
  }
}

p {
  margin-top: 0;
}

a {
  color: inherit;
}

ul {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;

  list-style: none;
}

img {
  line-height: 0;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.js-focus-visible focus:not(.focus-visible) {
  outline: none;
}


.js-focus-visible .focus-visible {
  .outline-focus(#000000);
}

.skip-link {
  position: absolute;
  top: -100%;
  left: 0;
  z-index: 100;

  padding: 10px;

  color: #ffffff;

  background-color: #000000;
}

.skip-link:focus {
  top: 0;
}
