html,
body {
  margin: 0;
  padding: 0;
}

/*Box model*/

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}


*,
*::before,
*::after {
  box-sizing: inherit;
}

/*Body*/

body {
  display: flex;
  flex-direction: column;

  min-width: @mobileWidth;
  max-width: 100%;
  min-height: 100vh;

  font-family: 'Open-Sans', 'Arial', sans-serif;
  .fontTextMobile();
  font-weight: 400;
  font-style: normal;
  color: #1e1e1f;
  color: var(--colorBlack2, #1e1e1f);

  @media (min-width: @tabletWidth) {
    .fontTextTablet();
  }

  @media (min-width: @desktopWidth) {
    .fontTextDesktop();
  }
}

/*Tag*/

p {
  margin-top: 0;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}

ul {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;

  list-style: none;
}

img {
  line-height: 0;
}

figure {
  display: block;
  margin: 0;

  line-height: 0;
}

button:hover {
  cursor: pointer;
}

/*Only sr*/

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

/*Focus custom*/

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

button:focus:not(:focus-visible) {
  outline: none;
}

.js-focus-visible .focus-visible {
  .focusCustom(#3c3b3d);
  .focusCustom(var(--colorGrey, #3c3b3d));
}

.js-focus-visible .menu__link.focus-visible {
  outline-offset: -2px;

  @media (min-width: @tabletWidth) {
    outline-offset: 0;
  }
}

.js-focus-visible .logo.focus-visible {
  outline: none;
  .customShadowFocus(#ffffff, #3c3b3d);
  .customShadowFocus(var(--colorWhite, #ffffff), var(--colorGrey, #3c3b3d));
  transition: fill 0.2s, transform 0.2s;
}

.js-focus-visible button.focus-visible {
  outline: none;
  .customShadowFocus(#ffffff, #3c3b3d);
  .customShadowFocus(var(--colorWhite, #ffffff), var(--colorGrey, #3c3b3d));
  transition: transform 0.2s;
}

.js-focus-visible .footer *.focus-visible {
  outline-color: #cbc9cf;
  outline-color: var(--colorWhite2, #cbc9cf);
}

.js-focus-visible .social-list__link.focus-visible,
.js-focus-visible .copyright__licenses-link.focus-visible {
  outline: none;
  .customShadowFocus(#1e1e1f, #cbc9cf);
  .customShadowFocus(var(--colorBlack2, #1e1e1f), var(--colorWhite2, #cbc9cf));
  transition: fill 0.2s, transform 0.2s;
}

.js-focus-visible .works-list__link.focus-visible {
  outline-offset: 4px;
}

/*scroll custom*/

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #1e1e1f;
  background-color: var(--colorBlack2, #1e1e1f);
}

::-webkit-scrollbar-thumb {
  background-color: #6d6c70;
  background-color: var(--colorGrey2, #6d6c70);

  &:hover {
    background-color: #a2a1a6;
    background-color: var(--colorGrey3, #a2a1a6);
  }

  &:active {
    background-color: #1e1e1f;
    background-color: var(--colorWhite2, #1e1e1f);
  }
}

::-webkit-scrollbar-corner {
  background-color: #1e1e1f;
  background-color: var(--colorBlack2, #1e1e1f);
}

/*Skip link*/

.skip-link {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 100;

  padding: 10px;

  color: #cbc9cf;
  color: var(--colorWhite2, #cbc9cf);

  background-color: #1e1e1f;
  background-color: var(--colorBlack2, #1e1e1f);

  transform: translate(-50%, -100%);
  transition: transform 0.4s;
}

.skip-link:focus {
  transform: translate(-50%, 0);
}

/*User select*/

::selection {
  color: #cbc9cf;
  color: var(--colorWhite2, #cbc9cf);
  background-color: #1e1e1f;
  background-color: var(--colorBlack2, #1e1e1f);
}

footer ::selection {
  color: #1e1e1f;
  color: var(--colorBlack2, #1e1e1f);
  background-color:  #cbc9cf;
  background-color: var(--colorWhite2, #cbc9cf);
}

.skills-list ::selection {
  color: #000000;
  color: var(--colorBlack, #000000);
  background-color: #ffffff;
  background-color: var(--colorWhite, #ffffff);
}
