@font-face {
  font-family: 'Special-Elite';
  src: url('../../fonts/woff2/SpecialElite-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Lora';
  src: url('../../fonts/woff2/Lora-VariableFont_wght.woff2') format('woff2-variations');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

