/* var css */

:root {

  /* var color */

  --colorBlack: #000000;
  --colorWhite: #ffffff;

  --colorBlack2: #1e1e1f;
  --colorWhite2: #cbc9cf;

  --colorGrey: #3c3b3d;
  --colorGrey2: #6d6c70;
  --colorGrey3: #a2a1a6;

}

/* var less */

/* font */

@fontSizeMobile: 16px;
@fontSizeTablet: 18px;
@fontSizeDesktop: 20px;

@lineHeightDefault: 1.625;

@fontWeight1: 100;
@fontWeight2: 200;
@fontWeight3: 300;
@fontWeight4: 400;
@fontWeight5: 500;
@fontWeight6: 600;
@fontWeight7: 700;

/* var viewport */

@mobileWidth: 280px;
@tabletWidth: 600px;
@desktopWidth: 1100px;

/* var centered block */

@container: 90%;
@maxWidthContainer: 1000px;

/* var retina */

@retinaDppx2x: 1.5dppx;
@retinaDpi2x: 144dpi;

@retinaDppx3x: 2.4dppx;
@retinaDpi3x: 220dpi;

/* var font-family */

@fontFamilyMain: 'Open-Sans', 'Arial', sans-serif;
@fontFamilySpecial: 'Special-Elite',  monospace;
@fontFamilyVariety: 'Roboto-Mono', monospace;

/* margin padding box */

@spaceXS: 0.25rem;
@spaceS: 0.5rem;
@spaceM: 1rem;
@spaceL: 1.5rem;
@spaceXL: 2rem;
@space2XL: 2.5rem;


/* border-radius */

@borderRadiusDefault: 2px;

/* burger size */

@burgerSize: 3rem;
