/*переменные css*/

:root {
  /*переменные размера шрифта*/
  --sizeFont1: 10px;
  --sizeFont2: 12px;
  --sizeFont3: 14px;
  --sizeFont4: 18px;
  --sizeFont5: 24px;
  --sizeFont6: 32px;
  --sizeFont7: 42px;
  --sizeFont8: 52px;
  --sizeFont9: 62px;
  /*переменные интерлиньяж шрифта*/
  --lineHeightFont: 1.4em;
  /*переменные жирности шрифта*/
  --weightFont1: 400;
  --weightFont2: 450;
  --weightFont3: 500;
  --weightFont4: 550;
  --weightFont5: 600;
  --weightFont6: 650;
  --weightFont7: 700;

  /*переменные жирности шрифта wght*/
  --wghtFont1: 'wght' 400;
  --wghtFont2: 'wght' 450;
  --wghtFont3: 'wght' 500;
  --wghtFont4: 'wght' 550;
  --wghtFont5: 'wght' 600;
  --wghtFont6: 'wght' 650;
  --wghtFont7: 'wght' 700;

  /*переменные цвета шрифта*/
  --colorFontBlack: #000000;
  --colorFontWhite: #ffffff;
}

/*переменные stylus*/

/*переменные вьюпорта*/
@mobileWidth: 320px;
@tabletWidth: 600px;
@desktopWidth: 900px;

/*переменные центровщика*/
@mobileContainer: 280px;
@tabletContainer: 520px;
@desktopContainer: 820px;

/*переменные плотности экрана*/
@retinaDppx2x: 1.5dppx;
@retinaDpi2x: 144dpi;

@retinaDppx3x: 2.4dppx;
@retinaDpi3x: 220dpi;
