/*контаийнер до вьюпорта*/
container(n)
  max-width n
  margin-left auto
  margin-right auto

/*контаийнер центровщик*/
wrapper(n)
  width n
  margin-left auto
  margin-right auto

/*кастомный фокус*/
outline-focus(color)
  outline 2px solid color
