/*переменные css*/

:root
  /*переменные размера шрифта*/
  --sizeFontXxxs 10px
  --sizeFontXxs 12px
  --sizeFontXs 14px
  --sizeFontS 16px
  --sizeFontM 18px
  --sizeFontL 20px
  --sizeFontXl 22px
  --sizeFontXxl 24px
  --sizeFontXxxl 26px
  /*переменные жирности шрифта*/
  --weightFontXxxs 400
  --weightFontXxs 425
  --weightFontXs 450
  --weightFontS 500
  --weightFontM 550
  --weightFontL 600
  --weightFontXl 650
  --weightFontXxl 675
  --weightFontXxxl 700
  /*переменные жирности шрифта wght*/
  --wghtFontXxxs 'wght' 400
  --wghtFontXxs 'wght' 425
  --wghtFontXs 'wght' 450
  --wghtFontS 'wght' 500
  --wghtFontM 'wght' 550
  --wghtFontL 'wght' 600
  --wghtFontXl 'wght' 650
  --wghtFontXxl 'wght' 675
  --wghtFontXxxl 'wght' 700
  /*переменные цвета шрифта*/
  --colorFontBlack #000000
  --colorFontWhite #ffffff

/*переменные stylus*/

/*переменные вьюпорта*/
  mobileWidth = 320px
  tabletWidth = 600px
  desktopWidth = 900px

/*переменные центровщика*/
  mobileWrapper = 320px
  tabletWrapper = 600px
  desktopWrapper = 900px

/*переменные плотности экрана*/

retinaDppxX2 = 1.5dppx
retinaDpiX2 = 144dpi

retinaDppxX3 = 2.4dppx
retinaDpiX3 = 220dpi

retinaDppxX4 = 4dppx
retinaDpiX4 = 384dpi
